<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     					http://www.springframework.org/schema/tx 
     					http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
     					http://www.springframework.org/schema/aop
     					http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
     					http://www.springframework.org/schema/context 
     					http://www.springframework.org/schema/context/spring-context-3.0.xsd 
     					http://www.springframework.org/schema/mvc 
     http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<!-- Spring exception 处理 -->
	<bean id="myExceptionResolver" class="com.aop.MyExceptionHandler"></bean>
	
	<!-- 工具，applicationContext静态变量 -->
	<bean id="myApp" class="com.yee.util.AppUtil"></bean>
	
	<!-- 安全组件 -->
	<!-- 密码安全控件 -->
	<bean id="securityCheckDao" class="com.airspring.common.security.SecurityCheckDaoImpl">		
		<property name="datasource"><ref bean="dataSource" /></property>
		<!-- 数据库类型 mysql 用 MYSQL oracle 用 ORACLE -->
		<property name="dataBase" value="ORACLE"></property>
		<!-- 解锁时间 单位小时 0时，需要联系管理员解锁 -->
		<property name="dealTime" value="0"></property>
	</bean>
	
	<!--密码安全控件 -->
	<bean id="checkUnit" class="com.airspring.common.security.CheckUnitImpl">
		<property name="securityCheckDao" ref="securityCheckDao"></property>
		<!-- 错误密码最大次数-->
		<property name="maxWrongNum" value="5"></property>
	</bean>
	
	<!--密码安全控件 -->
	<bean id="iSecurityCheck" class="com.airspring.common.security.ISecurityCheckImpl">
		<property name="iCheckUnit" ref="checkUnit"></property>
	</bean>
</beans>
